/* toolBar left */
.tool-bar-lf {
  display: flex;
  align-items: center;
  padding-right: 50px;
  overflow: hidden;
}
.tool-bar-lf .collapsed {
  margin-right: 20px;
  font-size: calc((var(--hooks-fontSizeLG) + 2) * 1px);
  color: var(--hooks-colorTextHeader);
  cursor: pointer;
  transition: color 0.3s;
}
.tool-bar-lf .collapsed:hover {
  color: var(--hooks-colorPrimaryText);
}

/* toolBar right */
.tool-bar-ri {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  line-height: 55px;
}
.tool-bar-ri .header-icon > * {
  margin-left: 20px;
  color: var(--hooks-colorTextHeader);
}
.tool-bar-ri .username {
  margin: 0 20px;
  font-size: 15px;
  color: var(--hooks-colorTextHeader);
}
.tool-bar-ri .avatar {
  cursor: pointer;
}

/* Message */
.message-popover .ant-popover-content {
  width: 305px;
}
.message-popover .notice-list {
  display: flex;
  flex-direction: column;
}
.message-popover .notice-list .notice-item {
  display: flex;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid var(--hooks-colorBorderSecondary);
}
.message-popover .notice-list .notice-item:last-child {
  border: none;
}
.message-popover .notice-list .notice-item .notice-icon {
  width: 40px;
  height: 40px;
  margin: 0 20px 0 5px;
}
.message-popover .notice-list .notice-item .notice-content {
  display: flex;
  flex-direction: column;
}
.message-popover .notice-list .notice-item .notice-content .notice-title {
  margin-bottom: 5px;
}
.message-popover .notice-list .notice-item .notice-content .notice-time {
  font-size: 12px;
  color: var(--hooks-colorTextSecondary);
}

/* Search Menu */
.search-modal .menu-list {
  max-height: 510px;
  margin-top: 15px;
  overflow: auto;
}
.search-modal .menu-list .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 20px;
  margin: 10px 0;
  color: var(--hooks-colorTextSecondary);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--hooks-colorBorder);
  border-radius: calc(var(--hooks-borderRadius) * 1px);
  transition: all 0.2s ease;
}
.search-modal .menu-list .menu-item .menu-icon {
  margin-right: 8px;
  font-size: 16px;
}
.search-modal .menu-list .menu-item .menu-title {
  font-size: 14px;
}
.search-modal .menu-list .menu-item .menu-enter {
  position: absolute;
  right: 20px;
  font-size: 16px;
}
.search-modal .menu-list .menu-active {
  color: #ffffff;
  background-color: var(--hooks-colorPrimary);
}
.search-modal .menu-list .menu-active .menu-icon {
  font-size: 18px;
}
.search-modal .menu-list .menu-active .menu-title {
  font-size: 16px;
}
.search-modal .menu-list .menu-active .menu-enter {
  font-size: 20px;
}
